# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac image file caches
.DS_Store

# Specific for Project
*ftp-sync.json
img/Publisher/*
