/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * tictacmatch implementation : © Leo Caseiro <leo@leocaseiro.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * tictacmatch.css
 *
 * tictacmatch stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (tictacmatch_tictacmatch.tpl), and to HTML elements you create dynamically
    (in tictacmatch.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can
        display these images correctly (see example below).

    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.


     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


:root {
    --tictacmatchCardScale: .45;
    --tictacmatchCardWidth: 258px;
    --tictacmatchCardHeight: 358px;
    --tictacmatchYellow: #FDF051;
    --tictacmatchPurple: #77749F;
}

.hide {
    visibility: hidden;
}

.ttm-table {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.ttm-game .whiteblock {
    border: 1px solid #33333333;
    border-radius: 10px;
}
.ttm-title {
    margin-top: 0;
    margin-bottom: 10px;
}

.ttm-discard-pile,
.ttm-deck {
    position: relative;
}

.ttm-board-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5em;
}

.ttm-hand {
    display: flex;
    margin-top: 2em;
    justify-content: space-evenly;
}
.spectatorMode .ttm-hand {
    visibility: hidden;
}

.ttm-hand__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    min-width: calc(var(--tictacmatchCardHeight) * var(--tictacmatchCardScale) * 3);
}
.ttm-hand__cards .card {
}

.ttm-hand__placeholder {
    width: calc(var(--tictacmatchCardWidth) * var(--tictacmatchCardScale));
    height: calc(var(--tictacmatchCardHeight) * var(--tictacmatchCardScale));
}

.card {
    background-image: url('./img/cards_sprites.png');
    background-size: 500% 300%;
    border-radius: 13px;
    box-shadow: 2px 1px 1px rgb(0 0 0 / 44%);
    box-sizing: content-box;
    cursor: not-allowed;
    width: calc(var(--tictacmatchCardWidth) * var(--tictacmatchCardScale));
    height: calc(var(--tictacmatchCardHeight) * var(--tictacmatchCardScale));
}
.card--selectable {
    cursor: pointer;
    border: 3px solid var(--tictacmatchYellow);
    box-shadow: 0 0 5px 1px var(--tictacmatchYellow);
}
.card--selectable:hover {
    transform: scale(1.1);
    z-index: 2;
}
.card--selected {
    border: 3px solid var(--tictacmatchPurple);
    box-shadow: 0 0 5px 1px var(--tictacmatchPurple);
}

.card-badge {
    position: absolute;
    color: white;
    font-weight: bold;
    bottom: 1em;
    z-index: 0;
    font-size: 30px;
    text-shadow: 1px 1px 1px #000;
    /* text-shadow: 1px 1px 1px #000, 0px 0px 1em #000; */
}
.card-badge,
.card-badge:before,
.card-badge:after {
    width: calc(var(--tictacmatchCardWidth) * var(--tictacmatchCardScale));
    text-align: center;
}

/* add a single stroke */
.card-badge:before {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 0.2em var(--tictacmatchPurple);
  left: 0;
  z-index: -1;
}
/* add a double stroke */
.card-badge:after {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 0.3em var(--tictacmatchYellow);
  left: 0;
  z-index: -2;
}

/* Flip card */
.ttm-hand__team {
    perspective: 1000px;
}
.card-flip {
    position: relative;
    transform-style: preserve-3d;
    width: calc(var(--tictacmatchCardWidth) * var(--tictacmatchCardScale));
    height: calc(var(--tictacmatchCardHeight) * var(--tictacmatchCardScale));
    transition: transform 1.5s;
    transform-style: preserve-3d;
}
.card-flip__front-o, .card-flip__back-x {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}
.card-flip__back-x {
    transform: rotateY(180deg);
}
.card-flip--flipped-o {
    transform: rotateY(0deg);
}
.card-flip--flipped-x {
    transform: rotateY(180deg);
}

/* Card Sprites */
.card--blue_x {
    background-position: -0 -0;
}

.card--blue_o {
    background-position: -100% -0;
}

.card--green_o {
    background-position: -200% -0;
}

.card--green_x {
    background-position: -0 -100%;
}

.card--red_x {
    background-position: -100% -100%;
}

.card--red_o {
    background-position: -200% -100%;
}

.card--yellow_o {
    background-position: -300% -0;
}

.card--yellow_x {
    background-position: -300% -100%;
}

.card--action_wipe_out {
    background-position: -400% -0;
}

.card--team_x {
    background-position: -400% -100%;
}

.card--back {
    background-position: -0 -200%;
}

.card--action_2plus {
    background-position: -100% -200%;
}

.card--team_o {
    background-position: -200% -200%;
}

.card--action_flip {
    background-position: -300% -200%;
}

.card--empty {
    background: rgba(50, 25, 10, .05);
    box-shadow: 0px 0px 10px rgb(50 20 10 / 67%) inset;
}


/* Settings */
#player_config {
    margin: 10px 0px;
  }
  #player_config #player_config_row {
    display: flex;
    justify-content: space-around;
  }
  #player_config #player_info_row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
  }
  #player_config #show-settings {
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #player_config #show-settings:hover {
    color: grey;
  }
  #player_config #show-settings svg {
    width: auto;
    height: 40px;
  }
  #player_config #show-settings .fa-primary {
    transform-origin: 216px 255px;
    transition: transform 1s;
  }
  #player_config #show-settings:hover .fa-primary {
    transform: rotate(180deg);
  }

  /*
   * Controls in the top bar
   */
  #settings-controls-container {
    position: relative;
    text-align: center;
    border-top: 1px solid gray;
    margin-top: 10px;
  }
  #settings-controls-container.settingsControlsHidden {
    display: none;
  }
  #settings-controls-container .row-data {
    border: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
  }
  #settings-controls-container .row-data .row-label {
    width: 100%;
    float: none;
    color: black;
    padding-bottom: 0px;
    text-overflow: initial;
    white-space: normal;
    padding: 2px 4px 0px;
  }
  #settings-controls-container .row-data .row-value {
    width: 85%;
    margin: 0;
  }

/*! nouislider - 14.6.0 - 6/27/2020 */
.noUi-target,.noUi-target *{-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-ms-touch-action:none;touch-action:none;-ms-user-select:none;-moz-user-select:none;user-select:none;-moz-box-sizing:border-box;box-sizing:border-box}.noUi-target{position:relative}.noUi-base,.noUi-connects{width:100%;height:100%;position:relative;z-index:1}.noUi-connects{overflow:hidden;z-index:0}.noUi-connect,.noUi-origin{will-change:transform;position:absolute;z-index:1;top:0;right:0;-ms-transform-origin:0 0;-webkit-transform-origin:0 0;-webkit-transform-style:preserve-3d;transform-origin:0 0;transform-style:flat}.noUi-connect{height:100%;width:100%}.noUi-origin{height:10%;width:10%}.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin{left:0;right:auto}.noUi-vertical .noUi-origin{width:0}.noUi-horizontal .noUi-origin{height:0}.noUi-handle{-webkit-backface-visibility:hidden;backface-visibility:hidden;position:absolute}.noUi-touch-area{height:100%;width:100%}.noUi-state-tap .noUi-connect,.noUi-state-tap .noUi-origin{-webkit-transition:transform .3s;transition:transform .3s}.noUi-state-drag *{cursor:inherit!important}.noUi-horizontal{height:18px}.noUi-horizontal .noUi-handle{width:34px;height:28px;right:-17px;top:-6px}.noUi-vertical{width:18px}.noUi-vertical .noUi-handle{width:28px;height:34px;right:-6px;top:-17px}.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle{left:-17px;right:auto}.noUi-target{background:#FAFAFA;border-radius:4px;border:1px solid #D3D3D3;box-shadow:inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB}.noUi-connects{border-radius:3px}.noUi-connect{background:#3FB8AF}.noUi-draggable{cursor:ew-resize}.noUi-vertical .noUi-draggable{cursor:ns-resize}.noUi-handle{border:1px solid #D9D9D9;border-radius:3px;background:#FFF;cursor:default;box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB}.noUi-active{box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB}.noUi-handle:after,.noUi-handle:before{content:"";display:block;position:absolute;height:14px;width:1px;background:#E8E7E6;left:14px;top:6px}.noUi-handle:after{left:17px}.noUi-vertical .noUi-handle:after,.noUi-vertical .noUi-handle:before{width:14px;height:1px;left:6px;top:14px}.noUi-vertical .noUi-handle:after{top:17px}[disabled] .noUi-connect{background:#B8B8B8}[disabled] .noUi-handle,[disabled].noUi-handle,[disabled].noUi-target{cursor:not-allowed}.noUi-pips,.noUi-pips *{-moz-box-sizing:border-box;box-sizing:border-box}.noUi-pips{position:absolute;color:#999}.noUi-value{position:absolute;white-space:nowrap;text-align:center}.noUi-value-sub{color:#ccc;font-size:10px}.noUi-marker{position:absolute;background:#CCC}.noUi-marker-sub{background:#AAA}.noUi-marker-large{background:#AAA}.noUi-pips-horizontal{padding:10px 0;height:80px;top:100%;left:0;width:100%}.noUi-value-horizontal{-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%)}.noUi-rtl .noUi-value-horizontal{-webkit-transform:translate(50%,50%);transform:translate(50%,50%)}.noUi-marker-horizontal.noUi-marker{margin-left:-1px;width:2px;height:5px}.noUi-marker-horizontal.noUi-marker-sub{height:10px}.noUi-marker-horizontal.noUi-marker-large{height:15px}.noUi-pips-vertical{padding:0 10px;height:100%;top:0;left:100%}.noUi-value-vertical{-webkit-transform:translate(0,-50%);transform:translate(0,-50%);padding-left:25px}.noUi-rtl .noUi-value-vertical{-webkit-transform:translate(0,50%);transform:translate(0,50%)}.noUi-marker-vertical.noUi-marker{width:5px;height:2px;margin-top:-1px}.noUi-marker-vertical.noUi-marker-sub{width:10px}.noUi-marker-vertical.noUi-marker-large{width:15px}.noUi-tooltip{display:block;position:absolute;border:1px solid #D9D9D9;border-radius:3px;background:#fff;color:#000;padding:5px;text-align:center;white-space:nowrap}.noUi-horizontal .noUi-tooltip{-webkit-transform:translate(-50%,0);transform:translate(-50%,0);left:50%;bottom:120%}.noUi-vertical .noUi-tooltip{-webkit-transform:translate(0,-50%);transform:translate(0,-50%);top:50%;right:120%}.noUi-horizontal .noUi-origin>.noUi-tooltip{-webkit-transform:translate(50%,0);transform:translate(50%,0);left:auto;bottom:10px}.noUi-vertical .noUi-origin>.noUi-tooltip{-webkit-transform:translate(0,-18px);transform:translate(0,-18px);top:auto;right:28px}
